@model Store.Models.Car

@{
    ViewBag.Title = "Администратор: редактирование";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="panel-panel-primary">
    <div class="panel-heading">
        <h3>Редактирование автомобиля «@Model.Name»</h3>
    </div>

@using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    <div class="panel-body">
        @Html.HiddenFor(m => m.Id)
        @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "Id" :
                    case "Img" :
                    case "ImgMimeType" :
                        break;
                        default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "ShortDescription")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                 new { @class = "form-control", rows = 5 })
                            }
                            else if (property.PropertyName == "isFavourite")
                            {
                                    <p>
                                    <input type="radio" name="isFavourite" value=True> Да<Br>
                                    <input type="radio" name="isFavourite" value=False> Нет<Br>
                                    </p>
                            }
                            else if (property.PropertyName == "CategoryID")
                            {
                                <p>
                                    <input type="radio" name="CategoryID" value="2">Легковой<Br>
                                    <input type="radio" name="CategoryID" value="1">Грузовой<Br>
                                </p>
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName,null,
                                new {@class = "form-control"})
                            }
                            @Html.ValidationMessage(property.PropertyName)
                            </div>
                            break;
                }
                }
            
            <h3>Выберите файл для загрузки</h3>
            <form asp-action="Edit" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <input type="file" name="uploadedimage" /><br>      
            </form>
                @if (Model.Img == null)
                {
                    <div class="form-control-static">Нет картинки</div>
                }
                else
                {
                    <img class="img-thumbnail"
                 src="@Url.Action("GetImage", "Cars",new{Model.Id})" />
                }
 
    
    <div class="panel-footer">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
    {
    @class = "btn btn-default"
    })
            </div>
    </div>
}
</div>