@model Car

<div class="col-lg-4">
    <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Img))" alt="@Model.Name" />
    <h2>@Model.Name</h2>
    <p>@Model.ShortDescription</p>
    <p>Стоимость: @Model.Price.ToString("c")</p>
    
    <p>
        @if(Model.Available > 0)
        {
            <a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id">Выбрать автомобиль</a>
        }
        else
        {
        <h3>В данный момент автомобиль отсутствует в парке</h3>
        }
    </p>
</div>
